.simple-page{
	background: url(../../assets/images/dices_rock.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.simple-page-logo {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}

.icon {
	width: 60px;
	height: 60px;
	margin-bottom: 16px;
	border: 0px solid #ccc;
	text-align: center;
	line-height: 42px;
	display: inline-block;
}

.icon-layout {
	width: 50px;
	height: 50px;
	margin-bottom: 2px;
	border: 0px solid #ccc;
	text-align: center;
	display: inline-block;
}

.icon-button-dice {
	width: 60px;
	height: 60px;
	border: 0px solid #ccc;
	text-align: center;
	display: inline-block;
}

.icon-money {
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
	border: 0px solid #ccc;
	text-align: center;
	display: inline-block;
}

.icon-money-character {
	width: 30px;
	height: 25px;
	margin-bottom: 2px;
	border: 0px solid #ccc;
	vertical-align: center;
	display: inline-block;
}

.name-user{
	margin-top: 12px;
}

.app-brand .brand-icon {
	display: inline-block;
	font-size: 1.0rem;
	margin-right: .5rem;
	text-align: center;
	transition: margin-right .5s ease;
}

.zoom {
	padding: 50px;
	background-color: green;
	transition: transform .2s; /* Animation */
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

div.scroll-card{
	height: 250px;
	overflow-y: scroll;
}

div.scroll-chat{
	height: 490px;
	overflow-y: scroll;
}

div.text-inline{
	margin-bottom: 10px;
}
div.text-inline h4,
div.text-inline p{
	display: inline;
	vertical-align: top;
}

.desc-race{
	text-align: justify;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.desc-class{
	text-align: justify;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

div.text-inline-character{
	margin-bottom: 10px;
}
div.text-inline-character h4,
div.text-inline-character p{
	display: inline;
}

p.no-space{
	LINE-HEIGHT:20px;
	text-align: center;
}

hr.no-space{
	margin-top: 0px;
	margin-bottom: 10px;
}